In [57]:
import pandas as pd
from scipy import stats

In [9]:
df = pd.read_csv('/Users/aimaldastagirzada/Downloads/experiment_dataset.csv')

In [10]:
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [11]:
df.drop('Unnamed: 0', axis=1, inplace = True)

In [19]:
var_control = df[df['Variant'] == 'Control']
var_a =df[df['Variant'] == 'Variant A']
var_b =df[df['Variant'] == 'Variant B']

In [20]:
CTR_mean= df.groupby('Variant')['CTR'].mean()

In [21]:
CTR_mean

Variant
Control      0.098554
Variant A    0.120269
Variant B    0.108933
Name: CTR, dtype: float64

In [22]:
Time_spent_mean= df.groupby('Variant')['Time Spent'].mean()

In [23]:
Time_spent_mean

Variant
Control      20.070781
Variant A    24.805547
Variant B    23.343783
Name: Time Spent, dtype: float64

In [34]:
Time_spent_mean = pd.DataFrame(Time_spent_mean)

In [41]:
Avg_tS_control = Time_spent_mean.iloc[0]
Avg_ts_varA = Time_spent_mean.iloc[1]
Avg_ts_varB = Time_spent_mean.iloc[2]

In [43]:
TimeSpent_Lift_varA = ((Avg_ts_varA - Avg_tS_control)/Avg_tS_control)*100

In [45]:
TimeSpent_Lift_varA

Time Spent    23.590344
dtype: float64

In [44]:
TimeSpent_Lift_varB = ((Avg_ts_varB - Avg_tS_control)/Avg_tS_control)*100

In [46]:
TimeSpent_Lift_varB

Time Spent    16.307297
dtype: float64

In [50]:
Avg_ctr_control = CTR_mean.iloc[0]
Avg_ctr_varA= CTR_mean.iloc[1]
Avg_ctr_varB= CTR_mean.iloc[2]

In [51]:
CTR_Lift_varA = ((Avg_ctr_varA - Avg_ctr_control)/Avg_ctr_control)*100

In [52]:
CTR_Lift_varA

22.03391689420273

In [53]:
CTR_Lift_varB = ((Avg_ctr_varB - Avg_ctr_control)/Avg_ctr_control)*100

In [54]:
CTR_Lift_varB

10.5311514398069

In [55]:
df.groupby('Location')[['Time Spent', 'CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [58]:
loc_1 = df[df['Location'] == 'Location1']['Time Spent']
loc_2 = df[df['Location'] == 'Location2']['Time Spent']
loc_3 = df[df['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [59]:
loc_1 = df[df['Location'] == 'Location1']['CTR']
loc_2 = df[df['Location'] == 'Location2']['CTR']
loc_3 = df[df['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [60]:
df.groupby('Device')[['Time Spent', 'CTR']].mean()

         Time Spent       CTR
Device
Device1   22.635032  0.109634
Device2   22.890021  0.109868
Device3   22.612276  0.107993

In [61]:
loc_1 = df[df['Device'] == 'Device1']['Time Spent']
loc_2 = df[df['Device'] == 'Device2']['Time Spent']
loc_3 = df[df['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.26645371811833884, pvalue=0.7661459958744103)

In [62]:
loc_1 = df[df['Device'] == 'Device1']['CTR']
loc_2 = df[df['Device'] == 'Device2']['CTR']
loc_3 = df[df['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [67]:
var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [68]:
var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [69]:
var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [70]:
var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [71]:
#Age disturbution 
bins =[18, 28, 38, 50, 65] 
labels = ['18-27' , '28-37', '38-49', '50-64']
df ['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [72]:
df

     Age   Location   Device    Variant  Time Spent       CTR Age Group
0     62  Location2  Device2    Control   13.928669  0.084776     50-64
1     18  Location1  Device1  Variant B   11.310518  0.096859     18-27
2     21  Location2  Device1  Variant B   24.842100  0.097630     18-27
3     21  Location1  Device3  Variant B   20.061300  0.109783     18-27
4     57  Location1  Device2  Variant B   34.495503  0.068579     50-64
..   ...        ...      ...        ...         ...       ...       ...
995   39  Location2  Device2  Variant B   17.252030  0.092211     38-49
996   38  Location3  Device2    Control   30.075898  0.078151     38-49
997   60  Location2  Device3    Control   31.929223  0.125213     50-64
998   35  Location2  Device2  Variant B   14.680299  0.095423     28-37
999   55  Location1  Device1  Variant B   25.803169  0.166688     50-64

[1000 rows x 7 columns]

In [81]:
age_group_avg_ts =df.groupby('Age Group')['Time Spent'].mean()

In [82]:
age_group_avg_ts

Age Group
18-27    22.524565
28-37    22.566818
38-49    23.170616
50-64    22.583417
Name: Time Spent, dtype: float64

In [83]:
age_group_avg_ctr = df.groupby('Age Group')['CTR'].mean()

In [84]:
age_group_avg_ctr

Age Group
18-27    0.108728
28-37    0.109262
38-49    0.110976
50-64    0.107938
Name: CTR, dtype: float64

In [85]:
age_group_1 = df[df['Age Group']=='18-27'] ['Time Spent']

In [86]:
age_group_2 = df[df['Age Group']==  '28-37'] ['Time Spent']
age_group_3 = df[df['Age Group']==  '38-49'] ['Time Spent']
age_group_4 = df[df['Age Group']==  '50-64'] ['Time Spent']

In [87]:
p_val= stats.f_oneway(age_group_1, age_group_2, age_group_3,age_group_4)
print(p_val)

F_onewayResult(statistic=0.7785763000636917, pvalue=0.5060074396320704)

In [88]:
age_group_1 = df[df['Age Group']==  '18-27'] ['CTR']
age_group_2 = df[df['Age Group']==  '28-37'] ['CTR']
age_group_3 = df[df['Age Group']==  '38-49'] ['CTR']
age_group_4 = df[df['Age Group']==  '50-64'] ['CTR']
p_val= stats.f_oneway(age_group_1, age_group_2, age_group_3,age_group_4)
print(p_val)

F_onewayResult(statistic=0.8961645098284147, pvalue=0.44257439977002133)