In [88]:
import pandas as pd

In [89]:
df = pd.read_csv('/Users/aimaldastagirzada/Downloads/8a89caa9-511c-4568-af89-7f2174b4378c.csv')

In [90]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses
0,1,2021-01-01T00:00:00,6252,6242,2,NaN,32208,32153,32142,22.0,11,NaN
1,2,2021-01-02T00:00:00,4615,4603,6,NaN,36823,36704,36691,26.0,13,NaN
2,3,2021-01-03T00:00:00,5396,5389,3,NaN,42219,42093,42077,32.0,16,NaN
3,4,2021-01-04T00:00:00,5995,5993,0,NaN,48214,48085,48070,30.0,15,NaN
4,5,2021-01-05T00:00:00,9687,9662,21,NaN,57901,57745,57710,70.0,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,NaN,12207826,7691203.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,NaN,12207830,7691218.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,NaN,12207856,7691247.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,NaN,12207910,7691303.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,NaN,12207947,7691345.0

In [113]:
df['total_individuals_3doses'] = df['total_individuals_3doses'].astype(int)

In [103]:
df["new_doses"] = df["total_doses_administered"] - df["previous_day_total_doses_administered"]

In [105]:
df['new_doses_unvaccinated']= (df['total_doses_administered'] - df['total_individuals_at_least_one']).diff(1)

In [107]:
df['new_doses_one_vaccine']= (df['total_individuals_at_least_one'] - df['total_individuals_fully_vaccinated']).diff(1)

In [114]:
df['new_doses_two_vaccines']= (df['total_individuals_fully_vaccinated'] - df['total_individuals_3doses']).diff(1)

In [108]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses,new_doses,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines,new_doses_unvaccinated
0,1,2021-01-01T00:00:00,6252,6242,2,0,32208,32153,32142,22.0,11,0,25956,NaN,0,0,NaN
1,2,2021-01-02T00:00:00,4615,4603,6,0,36823,36704,36691,26.0,13,0,32208,4549.0,0,0,64.0
2,3,2021-01-03T00:00:00,5396,5389,3,0,42219,42093,42077,32.0,16,0,36823,5386.0,0,0,7.0
3,4,2021-01-04T00:00:00,5995,5993,0,0,48214,48085,48070,30.0,15,0,42219,5993.0,0,0,3.0
4,5,2021-01-05T00:00:00,9687,9662,21,0,57901,57745,57710,70.0,35,0,48214,9640.0,0,0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,0,12207826,7691203.0,38843561,10.0,4516631.0,27.0,596.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,0,12207830,7691218.0,38844184,2.0,4516623.0,15.0,220.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,0,12207856,7691247.0,38844410,17.0,4516611.0,33.0,1042.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,0,12207910,7691303.0,38845495,18.0,4516609.0,56.0,1323.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,0,12207947,7691345.0,38846890,24.0,4516607.0,42.0,955.0

In [93]:
df['new_doses_one_vaccine'] = (df['total_individuals_at_least_one']-df['total_individuals_fully_vaccinated']) - (df['previous_day_at_least_one']-df['previous_day_fully_vaccinated'])

In [94]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses,new_doses,new_doses_one_vaccine
0,1,2021-01-01T00:00:00,6252,6242,2,NaN,32208,32153,32142,22.0,11,NaN,NaN,25902
1,2,2021-01-02T00:00:00,4615,4603,6,NaN,36823,36704,36691,26.0,13,NaN,38460.0,32094
2,3,2021-01-03T00:00:00,5396,5389,3,NaN,42219,42093,42077,32.0,16,NaN,41438.0,36691
3,4,2021-01-04T00:00:00,5995,5993,0,NaN,48214,48085,48070,30.0,15,NaN,47615.0,42077
4,5,2021-01-05T00:00:00,9687,9662,21,NaN,57901,57745,57710,70.0,35,NaN,54209.0,48069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,NaN,12207826,7691203.0,38844842.0,460739
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,NaN,12207830,7691218.0,38844807.0,460749
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,NaN,12207856,7691247.0,38844636.0,460751
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,NaN,12207910,7691303.0,38846580.0,460768
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,NaN,12207947,7691345.0,38848285.0,460786

In [95]:
df['new_doses_two_vaccines'] = (df['total_individuals_fully_vaccinated']-df['total_individuals_3doses']) - (df['previous_day_fully_vaccinated']-df['previous_day_3doses'])

In [96]:
df["new_doses_three_vaccines"] = df["previous_day_3doses"]

In [116]:
df["new_doses_three_vaccines"] = df["total_individuals_3doses"].diff(1)

In [117]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses,new_doses,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines,new_doses_unvaccinated
0,1,2021-01-01T00:00:00,6252,6242,2,0,32208,32153,32142,22.0,11,0,25956,NaN,NaN,NaN,NaN
1,2,2021-01-02T00:00:00,4615,4603,6,0,36823,36704,36691,26.0,13,0,32208,4549.0,2.0,0.0,64.0
2,3,2021-01-03T00:00:00,5396,5389,3,0,42219,42093,42077,32.0,16,0,36823,5386.0,3.0,0.0,7.0
3,4,2021-01-04T00:00:00,5995,5993,0,0,48214,48085,48070,30.0,15,0,42219,5993.0,-1.0,0.0,3.0
4,5,2021-01-05T00:00:00,9687,9662,21,0,57901,57745,57710,70.0,35,0,48214,9640.0,20.0,0.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,0,12207826,7691203,38843561,10.0,-8.0,25.0,596.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,0,12207830,7691218,38844184,2.0,-11.0,15.0,220.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,0,12207856,7691247,38844410,17.0,-3.0,29.0,1042.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,0,12207910,7691303,38845495,18.0,-2.0,56.0,1323.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,0,12207947,7691345,38846890,24.0,-5.0,42.0,955.0

In [118]:
df.fillna(0, inplace=True)

In [119]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses,new_doses,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines,new_doses_unvaccinated
0,1,2021-01-01T00:00:00,6252,6242,2,0,32208,32153,32142,22.0,11,0,25956,0.0,0.0,0.0,0.0
1,2,2021-01-02T00:00:00,4615,4603,6,0,36823,36704,36691,26.0,13,0,32208,4549.0,2.0,0.0,64.0
2,3,2021-01-03T00:00:00,5396,5389,3,0,42219,42093,42077,32.0,16,0,36823,5386.0,3.0,0.0,7.0
3,4,2021-01-04T00:00:00,5995,5993,0,0,48214,48085,48070,30.0,15,0,42219,5993.0,-1.0,0.0,3.0
4,5,2021-01-05T00:00:00,9687,9662,21,0,57901,57745,57710,70.0,35,0,48214,9640.0,20.0,0.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,0,12207826,7691203,38843561,10.0,-8.0,25.0,596.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,0,12207830,7691218,38844184,2.0,-11.0,15.0,220.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,0,12207856,7691247,38844410,17.0,-3.0,29.0,1042.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,0,12207910,7691303,38845495,18.0,-2.0,56.0,1323.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,0,12207947,7691345,38846890,24.0,-5.0,42.0,955.0